@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
/* font-family: 'Ubuntu', sans-serif;
/* text styling */
            /* font-family: 'Baloo Bhaina 2', cursive;
            font-family: 'Dancing Script', cursive;
            font-family: 'Merriweather', serif;
            font-family: 'Baloo 2', cursive */ */

/* ****************************   Navbar   ********************* */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    /* background-color:#fdf7a5; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
}

.sec_1 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
}

.sec_2 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 20%;
    margin: 1px 3px;
    cursor: pointer;
}

.quot {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 4px 3px;
    text-shadow: 1px 4px 4.5px black;
    color: rgb(211, 122, 6);

}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0px 3px;
}

.nav_link {
    margin: 0px 10px;

}

.nav_link a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 18px;
}

.nav_link a:hover {
    animation-name: navbar;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes navbar {
    0% {
        border-bottom: 3px solid rgb(248, 166, 79);

    }

    100% {
        border-bottom: 3px solid rgb(246, 127, 0);
        opacity: 1;

    }
}

/******************************** Burger *************************/
.burger {
    background: inherit;
    position: relative;
    /* height: 5rem; */
    width: 20px;
    margin: 10px;
    display: flex;
    float: right;
    align-items: flex-start;
    justify-content: flex-end;
    cursor: pointer;
    display: none;
}

.bar {
    position: relative;
    width: 20px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    transition: .5s;
}

.bar::before,
.bar::after {
    background-color: black;
    position: absolute;
    content: "";
    transition: .5s;
    height: inherit;
    width: inherit;


}

.bar::before {
    transform: translateY(-7px);
}

.bar::after {
    transform: translateY(7px);
}

.burger.active .bar {
    background: transparent;
    transform: rotate(360deg);
}

.burger.active .bar::before {
    transform: translateY(0) rotate(45deg);
    background-color: red;
}

.burger.active .bar::after {
    transform: translateY(0) rotate(-45deg);
    background-color: red;
}

/* side bar */


/* ***********************   container    ***************** */

.container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.background {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/image/iit_bhu.jpg") no-repeat center/ cover;
    /* background-blend-mode: darken; */
}

.back_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(25, 25, 25, 0.626);
}

.content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.head {
    font-size: 40px;
    font-weight: 900;
    margin: 3px 50px;
    text-align: center;
    text-transform: capitalize;
    color: rgb(200, 200, 200);

}

.active_animation {
    animation: appear 4s 1 forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }

}

.head span {
    color: white;
    text-shadow: 3px 2px 6px black;
}

.sec_text a {
    color: rgb(240, 142, 29);
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;
    margin: 10px 0px;
    font-size: 20px;
    text-decoration: none;
}

.active2 {
    animation: appear2 4s 1 forwards;
}



@keyframes appear2 {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
        color: rgb(240, 142, 29);
    }

}

/* About us container */
.about_container {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;

}

.abt_sec1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* width: 50%; */
}

.abt_sec2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    /* height: 70%; */
   

   
}


.abt_sec2 img {
    width: 100%;
    /* height: 100%; */

}

.icon_ {
    color: white;
    margin: 2px 0px;
}

.abt_sec {
    display: flex;
    margin-bottom: 30px;

}

.rv {
    flex-direction: row-reverse;
}

/* contact form */
.cont_sec {
    display: flex;
    align-items: flex-start;
    justify-content:center;
    width: 100%;
    height: 50vh;
}

.slink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0px;
}

.num {
    margin: 0px 5px;
}
/* form****************************************** */

.form {
    width: 40%;
    /* margin: 10px; */
    display: flex;
    /* border: 1px solid black; */
    /* height: 40vh; */
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.form form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
}

.frm_elm {
    display: flex;
    /* align-items: center;
   justify-content: center; */
    flex-direction: column;
    width: 60%;
}

.frm_elm input,
textarea {
    background: inherit;
    outline: none;
    border: none;
    border-bottom: 1.5px solid black;
    border-color: darkslategray;
}
.frm_elm label{
    padding: 5px 0px;
}

.sub_btn {
    padding: 5px 10px;
    border: none;
    background-color: rgb(53, 53, 235);
    color: white;
    margin-top: 5px;
    float: right;
    border-radius: 5px;
    cursor: pointer;

}
.txt{
    text-align: center;
    color: darkslategray;
    font-size:35px;
}
.icon_{
    color: greenyellow;
}





/* *************************footer****************8 */
footer {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* flex-direction: column; */
   

}

.foot_box {
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.footitem {
    margin: 5px 20px;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.foot_link img {
    width: 60%;
    cursor: pointer;
    transition: 1s;
}

.foot_link img:hover {
    transition: 1s all ease;
    transform: rotate(360deg);

}

.link a {
    text-decoration: none;
    color: white;
    padding: 0px 5px;
}

.link a:hover {
    transition: .5s;
    color: rgb(44, 22, 246);
}


/**********************LABORATORY SECTION ***************************/



